<ons-page>
	<ons-list>
		<ons-list-item ng-click="showDetail()" tappable>
			<div class="left">

			</div>
			<div class="center" style="text-align: center;">
				<span class="list__item__title">Right Item 1</span>
				<span class="list__item__subtitle">descption of item</span>
			</div>
			<div class="right">

			</div>
		</ons-list-item>
		<ons-list-item ng-click="showDetail()" tappable>
			<div class="left">

			</div>
			<div class="center" style="text-align: center;">
				<span class="list__item__title">Right Item 2</span>
				<span class="list__item__subtitle">descption of item</span>
			</div>
			<div class="right">

			</div>
		</ons-list-item>
		<ons-list-item ng-click="showDetail()" tappable>
			<div class="left">

			</div>
			<div class="center" style="text-align: center;">
				<span class="list__item__title">Right Item 3</span>
				<span class="list__item__subtitle">descption of item</span>
			</div>
			<div class="right">

			</div>
		</ons-list-item>
	</ons-list>
</ons-page>